body{
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex; 
    flex-direction: column;
}
    

h1{
    font-weight: bolder;
    color: white;
}
form{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}